@CHARSET "UTF-8";

a.action, a.condition {
  display: block;
  float: left;
  padding: 0.2em 0.5em;
  margin: 0.3em;
  border: 1px solid #CCCCCC;
}
img.rules-icon {
  position: relative;
  top: 0.5em;
}
a.action img.rules-icon {
  position: relative;
  top: 3px;
  left: 2px;
}
a.condition img.rules-icon {
  position: relative;
  top: 2px;
}
div.configuration-fixed a.modify {
  display:none;
}
div.logical-op-not {
  float: left;
  margin-top: 0.7em;
}
p.logical-op-add, h3.actions {
  margin-top: 2em;
}
h3.conditions {
  margin-top: 1em;
}
p.logical-op-add {
  margin-bottom: 0em;
}
p.logical-op-edit img.rules-icon {
  top: -0.2em;
  vertical-align: bottom;
}
img.rules-icon {
  margin: 0px 3px;
}
div.rules-filter {
  padding-bottom: 2em;
}
div.rules-filter div, div.rules-filter input {
  padding-right: 1em;
  margin: 0em;
}
div.rules-filter div, div.rules-filter label {
  display: inline;
}
table.rules-configurations tr.odd, table.rules-configurations tr.even {
  vertical-align: top;
}
table.rules-configurations {
  margin-bottom: 2em;
}
