<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="rules">
  <description>Default PHP CodeSniffer configuration for Rules.</description>
  <file>.</file>

  <exclude-pattern>./d7-tests/</exclude-pattern>
  <exclude-pattern>./vendor/</exclude-pattern>
  <exclude-pattern>./config/</exclude-pattern>

  <arg name="extensions" value="inc,install,module,php,profile,test,theme,yml"/>
  <arg value="s"/>

  <rule ref="Drupal.NamingConventions.ValidVariableName.LowerCamelName">
    <!-- Annotations must use the same property names as in the configuration. -->
    <exclude-pattern>src/Annotation</exclude-pattern>
    <exclude-pattern>src/Core/Annotation</exclude-pattern>
    <exclude-pattern>src/Ui/RulesUiDefinition.php</exclude-pattern>
  </rule>

  <rule ref="Drupal.Files.TxtFileLineLength.TooLong">
    <!-- Do not run this sniff on README.md as the file has long markup lines.
     -->
    <exclude-pattern>README.md</exclude-pattern>
  </rule>

  <!-- The method is overridden with a reason - for better PHPdoc! -->
  <rule ref="Generic.CodeAnalysis.UselessOverridingMethod.Found">
    <exclude-pattern>./src/Core/ConditionManager.php</exclude-pattern>
   </rule>

  <!--Blacklist of coding standard rules that are not yet fixed. -->
  <rule ref="Drupal">
    <exclude name="Drupal.Commenting.DocComment.MissingShort"/>
  </rule>

  <rule ref="DrupalPractice">
    <!-- Allow empty lines after comments, we don't care. -->
    <exclude name="DrupalPractice.Commenting.CommentEmptyLine"/>
  </rule>

  <!-- We always want short array syntax only. -->
  <rule ref="Generic.Arrays.DisallowLongArraySyntax" />
</ruleset>
