<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="rules">
  <description>Default PHP CodeSniffer configuration for Rules.</description>
  <file>.</file>

  <!-- Exclude generated code files. -->
  <exclude-pattern>src/ProxyClass/ParamConverter/RulesTempConverter.php</exclude-pattern>

  <arg name="extensions" value="inc,install,module,php,profile,test,theme,yml"/>

  <rule ref="Drupal.NamingConventions.ValidVariableName.LowerCamelName">
    <!-- Annotations must use the same property names as in the configuration. -->
    <exclude-pattern>src/Annotation</exclude-pattern>
    <exclude-pattern>src/Core/Annotation</exclude-pattern>
    <exclude-pattern>src/Core/RulesUiDefinition.php</exclude-pattern>
  </rule>

  <!--Blacklist of coding standard rules that are not yet fixed. -->
  <rule ref="Drupal">
    <exclude name="Drupal.Commenting.DocComment.MissingShort"/>
    <exclude name="Drupal.Commenting.FunctionComment.IncorrectTypeHint"/>
  </rule>

  <!-- We always want short array syntax only. -->
  <rule ref="Generic.Arrays.DisallowLongArraySyntax" />
</ruleset>
