@CHARSET "UTF-8";

.rules-show-js, html.js .rules-hide-js {
  display: none;
}

.rules-hide-js, html.js .rules-show-js {
  display: block;
}

.rules-container-plugin ul.action-links .delete a, .rules-container-plugin ul.action-links .edit a {
	background: none;
	padding-left: 0px;
}

.rules-container-plugin ul.action-links a {
  line-height: 1em;
}

.rules-container-plugin ul.action-links {
	margin: 0px;
}

div ul.rules-operations-add {
	margin: 0px;
	margin-bottom: 2em;
}

.rules-debug-log {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	font-color: #333333;
	padding: 5px;
	margin: 2em;
}

#rules-filter-form {
  margin-bottom: 1.5em;
}

.rules-parameter-label {
  font-style: italic; 
}

#rules-plugin-add-help {
  margin-bottom: 1em;
}

.rules-element-content {
  float: left;
}
