@CHARSET "UTF-8";

.rules-show-js, html.js .rules-hide-js {
  display: none;
}

.rules-hide-js, html.js .rules-show-js {
  display: block;
}

.rules-table ul.action-links .delete a, .rules-table ul.action-links .edit a {
	background: none;
	padding-left: 0px;
}

.rules-table ul.action-links a {
  line-height: 1em;
}

.rules-table ul.action-links {
	margin: 0px;
	padding-left: 2px;
}

table tr.rules-elements-add {
  background-color: #e5eff4;
}

tr.rules-elements-add td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.rules-table {
	margin-bottom: 3em;
}
/* We cannot set a positive margin-top for rules tables as the table drag link
   should be positioned directly on top of the table. Thus we use a large bottom
   margin and fix the upper most margin: */
#rules-form-wrapper:first-child {
  margin-top: 1.5em;
}

/* Fix table drag weights to don't take extra space */
#rules-form-wrapper .tabledrag-toggle-weight-wrapper {
	position: absolute;
	width: 100%;
}



.rules-table caption {
	font-size: 110%;
	font-weight: bold;
	padding-bottom: 0.5em;
	text-align: left;
}


.rules-debug-log {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	font-color: #333333;
	padding: 5px;
	margin: 2em;
}

.rules-debug-log ul {
  padding-left: 2em;
}


#rules-filter-form {
  margin-bottom: 1.5em;
}

.rules-parameter-label {
  font-style: italic; 
}

#rules-plugin-add-help {
  margin-bottom: 1em;
}

.rules-element-content {
  float: left;
}

#autocomplete .rules-dsac-group {
	font-style: italic;
	background-color: #CCCCCC;
	color: #222222;
}

#autocomplete li.selected .rules-dsac-group {
  background: #0072b9;
  color: #fff;
}

form input.rules-switch-button {
	-moz-border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	font-size: 0.8em;
	font-weight: normal;
	margin-bottom: 1em;
	padding: 2px;
	text-align: center;
}
